<div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6">
        <label for="sub1"> <p class="h4">SUBJECT 1</p> </label>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4"><label for="name1">Name</label></div>
    <div class="col-sm-8"><input type="text" name="name1" id="name1" class="form-control"></div>
</div>
<br>
<div class="row">
    <div class="col-sm-4"><label for="mark1">Mark</label></div>
    <div class="col-sm-8"><input type="text" name="mark1" id="mark1" class="form-control"></div>
</div>
<br>
<div class="row">
    <div class="col-sm-4"><label for="total1">Total Mark</label></div>
    <div class="col-sm-8"><input type="text" name="total1" id="total1" class="form-control"></div>
</div>
<br>

<div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6">
        <label for="sub2"> <p class="h4">SUBJECT 2</p> </label>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4"><label for="name2">Name</label></div>
    <div class="col-sm-8"><input type="text" name="name2" id="name2" class="form-control"></div>
</div>
<br>
<div class="row">
    <div class="col-sm-4"><label for="mark2">Mark</label></div>
    <div class="col-sm-8"><input type="text" name="mark2" id="mark2" class="form-control"></div>
</div>
<br>
<div class="row">
    <div class="col-sm-4"><label for="total2">Total Mark</label></div>
    <div class="col-sm-8"><input type="text" name="total2" id="total2" class="form-control"></div>
</div>
<br>

<div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6">
        <label for="sub3"> <p class="h4">SUBJECT 3</p> </label>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4"><label for="name3">Name</label></div>
    <div class="col-sm-8"><input type="text" name="name3" id="name3" class="form-control"></div>
</div>
<br>
<div class="row">
    <div class="col-sm-4"><label for="mark3">Mark</label></div>
    <div class="col-sm-8"><input type="text" name="mark3" id="mark3" class="form-control"></div>
</div>
<br>
<div class="row">
    <div class="col-sm-4"><label for="total3">Total Mark</label></div>
    <div class="col-sm-8"><input type="text" name="total3" id="total3" class="form-control"></div>
</div>
<br>

<div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6">
        <label for="sub4"> <p class="h4">SUBJECT 4</p> </label>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4"><label for="name4">Name</label></div>
    <div class="col-sm-8"><input type="text" name="name4" id="name4" class="form-control"></div>
</div>
<br>
<div class="row">
    <div class="col-sm-4"><label for="mark4">Mark</label></div>
    <div class="col-sm-8"><input type="text" name="mark4" id="mark4" class="form-control"></div>
</div>
<br>
<div class="row">
    <div class="col-sm-4"><label for="total4">Total Mark</label></div>
    <div class="col-sm-8"><input type="text" name="total4" id="total4" class="form-control"></div>
</div>
<br>