<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <script>
        window.onbeforeunload = function () {
            window.scrollTo(0, 0);
                }
    </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Marklist Generator</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item "> <a class="nav-link" href="/"> <p class="h6">Marklist Generator</p> </a> </li>
            <li class="nav-item active"> <a class="nav-link" href="/"> <p class="h6"> Home</p> </a> </li>
        </ul>
    </nav>

    <div class="container">
        {% block content %}


        {% endblock %}


    </div>
    <!-- <div class="container">
        <footer class="page-footer font-small cyan darken-3">
            <div class="jumbotron jumbotron-fluid"> <p class="h5">  <center>Created Using flask</center></p> </div>
           
        </footer>
    </div>  -->


    <footer id="footer">
        <div class="footer-top">
          <div class="container">
    
          </div>
        </div>
    
        <div class="container">
          <div class="copyright">
            &copy;All Rights Reserved
          </div>
          <div class="credits">
            Designed and Developed by <a href="mailto:jfzlma@gmail.com"> <strong>Jfzl</strong> </a>
            
          </div>
             <div class="credits">
            <p class="h7"> <a href="https://github.com/jfzlma/marklistGenerator_flask">GitHub</a> </p>
            
          </div>
        </div>
        
      </footer>





</body>
</html>
